{% extends 'baseLoja.html' %} {% block title %}{{ object.nome }}{% endblock %}
{% block content %}
<style>
  body {
    background-color: #084e01ff;
  }
  header {
    background-color: #11b602ff;
  }
  nav {
    background-color: #084e01ff;
  }
  .back {
    background-color: #084e01ff;
    padding: 20px;
    border-radius: 8px;
    color: white;
    text-decoration: none;
  }
  .form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
</style>

<div class="form">
    {% if object %}
        <h2>Editar Produto: {{ object.nome }}</h2>
        {% else %}
        <h2>Adicionar Novo Produto</h2>
    {% endif %}

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %} {# Essencial para segurança! #}
        {{ form.as_p }} {# Renderiza cada campo do formulário como um parágrafo <p> #}
        <button type="submit" class="back">Guardar</button> 
    </form>
<div/>


{% endblock %}
