{% extends 'baseLoja.html' %}
{% block title %}Sobre{% endblock %} 
{% block content %}

<main>
    <h1>Quem Somos</h1>
    <p>Na nossa loja, você encontra produtos de alta qualidade para todas as suas necessidades. Seja para a casa, para o trabalho ou para o lazer, temos itens que atendem aos mais variados gostos e orçamentos.</p>
    <p>Oferecemos um atendimento especializado e garantimos a entrega dos seus produtos com toda a segurança e rapidez que você merece.</p>
    <p>Explore nosso site e descubra uma experiência de compras única e prática!</p> 
</main>

{% endblock %}
